<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title></title>
</head>
<body class="body">
  <nav>
    <a href="/">HOME</a>
    <a href="/flights">ALL FLIGHTS</a>
    <a href="/flights/new">NEW FLIGHT</a>
  </nav>
  <main>
    <h1></h1>