<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a href="/flights">All Flights</a>
      <br>
      <a href="/flights/new">New Flight</a>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
