<%- include('../partials/header') %>

<form action="/flights" method="POST">
  <label for="airline">Select Airline:</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select><br>
  <label for="airport">Select Airport:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select><br>
  <label>Flight Number:
    <input type="text" name="flightNo">
  </label><br>
  <label>Departs:
    <input type="datetime-local" name="departs" checked>
  </label><br>
  <input type="submit" value="Add Flight">
</form>
    
<%- include('../partials/footer') %>