<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <br>
    <a href="/flights">All Flights</a>
  </div>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="airline">
  </label><br>
  <label for="airport">Select Airport:</label>
    <select id="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  <br>
  <label>Flight Number:
    <input type="text" name="flightNo">
  </label><br>
  <label>Departs:
    <input type="datetime-local" name="departs" checked>
  </label><br>
  <input type="submit" value="Add Flight">
</form>
    
</body>
</html>